body {
  background-color: #4B4F52;
}
.App {
  text-align: center;
  color: #D3D6D6;
}
h1 {
  margin: 5px 0 5px 0;
  white-space: pre-line;
}
h1:first-child {
  margin-top: 90px;
}
h1:nth-child(3) {
  margin-bottom: 55px;
}
.longButton {
  background-color: #4B4F52;
  width: 260px;
  border-radius: 50px;
  margin: 11px 0 11px 0;
  font-size: 14px;
  color: #DABA3A;
  border: 3px solid #F1CD49;
  padding: 8px 0 8px 0;
}
.roundButton {
  background-color: #4B4F52;
  width: 40px;
  border-radius: 50px;
  margin: 18px 50px 18px 50px;
  font-size: 25px;
  font-weight: bold;
  color: #DABA3A;
  border: 3px solid #F1CD49;
  padding: 0 0 5px 0;
}
.fas {
  margin: 20px 0 50px 0;
}
.fa-arrow-left {
  margin-right: 320px;
}








