.roundButton {
  background-color: #4B4F52;
  width: 40px;
  border-radius: 50px;
  margin: 18px 50px 18px 50px;
  font-size: 25px;
  font-weight: bold;
  color: #DABA3A;
  border: 3px solid #DABA3A;
  padding: 0 0 5px 0;
}
.roundButton:active {
	background-color: #DABA3A;
	color: #4B4F52;
	outline: none;
  cursor: pointer;
}
.roundButton:focus {
	outline: none;
}
.roundButton:hover {
  cursor: pointer;
}
#meditationTime {
  height: 25vh;
}
p {
  display: inline-block;
  width: 5%;
}
.largeFont::first-letter {
  font-size: 125px;
}
.submitButton {
  margin-top: 7%;
  background-color: #DABA3A;
  width: 260px;
  border-radius: 50px;
  font-size: 20px;
  padding: 0px 0 0px 0;
  outline: none;
  border: 0;
  height: 40px;
  vertical-align: middle;
  line-height: 40px;
}
i.fa-check {
  color: #4B4F52;
  margin-top: 0px;
}
.hideButton {
  display: none;
}
.showButton {
  display: inline-block;
}

